/* Medium Layout: 1367px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .xzoom-thumbs {
        float: left;
    }

    .xzoom-container img {
        width: 528px !important;
    }

    .xzoom-thumbs a {
        display: inline;
    }

    .xzoom-thumbs img {
        margin-top: 10px;
    }

    .error-title {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 15px;
    }

    .xzoom-thumbs {
        height: auto;
    }
}


/* Medium Layout: 1280px. */

@media only screen and (max-width: 991px) {
    .cf-group .btn3 {
        height: 50px;
        width: 50px;
        margin-top: 5px;
    }

    .header-main .navbar-dark .navbar-nav .nav-link:hover, .header-main .navbar-dark .navbar-nav .nav-link.active {
        color: #fff;
        background: #232323;
    }

    .header-main .navbar-dark .navbar-nav .nav-link:hover {
        color: #fff;
        background: #232323;
    }

    .xzoom-thumbs {
        height: auto;
    }

    .error-title {
        font-size: 45px;
        line-height: 55px;
    }

    .cf-group .btn3 i {
        font-size: 20px;
    }

    .cf-form {
        margin-bottom: 30px;
    }

    nav.navbar.navbar-expand-lg.navbar-dark {
        padding: 10px 0;
    }

    .main-header .mobile-nav-icon {
        color: #ff8587;
        font-size: 23px;
    }

    .header-main .navbar-dark .navbar-nav .nav-link {
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 8px 10px;
        font-size: 20px;
        line-height: 30px;
        position: relative;
        background: #ff8587;
        /* margin-bottom: 5px; */
        color: #fff;
        cursor: pointer;
    }

    .header-main .navbar-dark .navbar-nav .nav-link:hover {
        color: #fff;
        background: #e6a0a1;
        transition: .5s;
    }

    .xzoom-thumbs a {
        display: inline;
    }

    .xzoom-thumbs img {
        margin-top: 10px;
    }

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .cs-content {
        padding: 30px;
    }

    .xzoom-thumbs {
        height: auto;
    }

    .error-title {
        font-size: 45px;
        line-height: 55px;
    }

    .tcb-img img {
        height: 220px;
    }

    .hs-table-style {
        width: 70%;
    }

    .hero-bg-img {
        left: 38%;
    }

    .cb-img img {
        height: 50px;
        width: 50px;
    }

    .rcb-img img {
        height: 40px;
        width: 40px;
    }

    .cb-text p {
        margin: 8px 0;
        font-size: 14px !important;
        line-height: 24px;
    }

    .rcb-text p {
        margin: 8px 0;
        font-size: 14px !important;
        line-height: 24px;
    }

    .rcb-text {
        margin-left: 0px;
    }

    .cb-text h3 {
        font-size: 14px !important;
        line-height: 24px !important;
    }

    .rcb-text h3 {
        font-size: 14px !important;
        line-height: 25px !important;
    }

    .cf-group input {
        padding: 0 15px;
    }

    .product-box .pb-img img {
        height: 230px;
    }

    .pb-text {
        padding: 20px 10px 0 10px;
    }

    .pl-left-img img {
        height: 90px;
    }

    .pl-right-img img {
        height: 300px;
    }

    .tabs-header-style {
        width: 81%;
        margin: -33px auto 0px 30px !important;
    }

    .tabs-style {
        padding: 15px 20px !important;
    }

    .section-top-padding {
        padding-top: 60px;
    }

    .pr-header-width {
        width: 100%;
    }

    .scs-right-wrapper {
        padding: 25px;
    }

    .xzoom-thumbs img {
        height: 100px;
        width: 100px;
    }

    .xzoom-container img {
        height: 380px;
    }


    .hl-text p {
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .hero-right-none {
        display: none;
    }

    .mbl-show {
        display: block;
    }

    .mbl-hide {
        display: none;
    }


    .google-map {
        position: relative !important;
        content: '';
        width: 100%;
        margin-bottom: 20px;
        top: 30px;
        left: 0;
    }

    .cart-table .btn4 {
        font-size: 16px !important;
        padding: 9px 25px;
    }

    .nl-group button i {
        height: 27px;
        width: 27px;
        font-size: 18px;
        line-height: 28px !important;
        margin-left: 20px;
    }

    .nl-wrapper {
        width: 100%;
    }

    .cart-table thead {
        display: none;
    }

    .cart-table .cart-action {
        display: flex;
        justify-content: end;
    }

    .cart-table .cart-action a i {
        margin-bottom: 0;
    }

    .cart-action a:first-child i {
        margin-right: 10px;
    }

    .cart-table,
    .cart-table tbody,
    .cart-table tr,
    .cart-table td {
        display: block;
        width: 100%;
    }

    .cart-table td {
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .cart-table tr:last-child td {
        padding-left: 15px;
    }

    .cart-table tr:last-child {
        display: flex;
    }

    .cart-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .cart-table td:first-child img {
        height: 120px;
    }

    .cart-table .product-info {
        text-align: right;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .cart-table .btn4 {
        font-size: 16px !important;
        padding: 9px 25px;
    }

    .error-title {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 15px;
    }

    .xzoom-thumbs {
        height: auto;
    }

    .error-text {
        margin-bottom: 25px;
    }

    .google-map {
        position: relative !important;
        content: '';
        width: 100%;
        margin-bottom: 20px;
        top: 30px;
        left: 0;
        height: 350px;
    }

    .mbl-show {
        display: block;
    }

    .mbl-hide {
        display: none;
    }

    .section-header {
        height: 60px;
        width: 300px;
    }


    .section-top-padding {
        padding-top: 65px;
    }

    .section-top-margin {
        margin-top: 35px;
    }

    .lang-currency-wrapper ul {
        margin: 0 auto 8px auto;
    }

    .hero-right {
        display: none;
    }

    .hero-left {
        padding: 60px 0;
    }

    .hl-text span {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .hl-text h2 {
        font-size: 62px;
    }

    .hl-text p {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .product_slider .owl-dots {
        left: 43%;
        bottom: 8px;
    }

    .dbs-left {
        display: none;
    }

    .dbs-right {
        padding-top: 40px;
    }

    .sbd-text h2 {
        margin-top: 18px;
    }

    .sbd-text p {
        margin-top: 18px;
    }

    .quote {
        padding: 35px 45px 40px 45px;
        margin-top: 18px;
    }

    .sbd-command {
        margin-top: 25px;
    }

    .cb-text p {
        margin: 8px 0;
        font-size: 14px !important;
        line-height: 24px;
    }

    .rcb-text p {
        margin: 8px 0;
        font-size: 14px !important;
        line-height: 24px;
    }

    .rcb-text {
        margin-left: -8px;
    }

    .cb-text h3 {
        font-size: 14px !important;
        line-height: 24px !important;
    }

    .rcb-text h3 {
        font-size: 14px !important;
        line-height: 25px !important;
    }

    .btn3 {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .product-right {
        margin: 20px 0;
    }

    .product-section {
        padding-top: 30px;
    }

    .scs-right-wrapper {
        padding: 30px;
    }

    .scs-l-group button {
        width: 40%;
    }

    .scs-l-group input {
        padding-right: 175px;
    }

    .pis-form .control-label {
        text-align: left;
        margin-top: 0;
    }

    .pis-form .form-group {
        margin-bottom: 15px;
    }

    .pis-paid-form .control-label {
        text-align: left !important;
    }

    .expiry-date {
        margin-bottom: 10px;
    }

    .cs-content {
        padding: 40px 60px;
    }

    .footer-section {
        padding: 180px 0px 60px;
    }

    .fs-content {
        padding-bottom: 15px;
    }

    .hero-text h2 {
        font-size: 34px;
        line-height: 23px;
    }

    .hero-text span {
        font-size: 13px;
        line-height: 38px;
    }

    .hero-bg-img {
        position: absolute;
        content: '';
        top: 54px;
        left: 34%;
        z-index: 0;
    }

    .hero-bg-img {
        top: 65px;
        left: 33%;
    }

    .hero-bg-img img {
        height: 164px;
    }

    .hs-table-style {
        width: 62%;
    }

    .hero-text {
        width: 100%;
        padding-top: 15px;
    }

    .lang-currency-wrapper {
        text-align: left;
    }

    .section-header h2 {
        font-size: 22px;
        line-height: 34px;
    }


    .dbsr-title h2 {
        font-size: 40px;
        line-height: 35px;
    }

    .dbsr-title p {
        letter-spacing: 4px;
    }

    .dbsr-discount-rate h2 {
        font-size: 40px;
    }

    .dbsr-discount-rate p {
        letter-spacing: 4px;
    }

    .nl-group button i {
        height: 27px;
        width: 27px;
        font-size: 18px;
        line-height: 28px !important;
        margin-left: 20px;
    }

    .nl-wrapper {
        width: 100%;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {

    .section-header {
        background-image: url(../img/section-header-bg-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 60px;
        width: 299px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
    }

    .tcb-img img {
        height: 230px;
        width: 100%;
        transition: .5s;
        overflow: hidden;
    }

    .ps-box-wrapper {
        margin-top: 50px;
    }

    .product-box .pb-img img {
        height: 230px;
    }

    .pb-text {
        padding: 20px 10px 0 10px;
    }

    .bb-list ul li {
        margin-right: 2px;
    }

    .bb-text h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .bb-text {
        padding-top: 15px;
    }

    .bb-text p {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .bb-img img {
        height: 200px;
    }

    .srb-left-img img {
        height: 80px;
        width: 100%;
    }

    .srb-right-text h2 {
        line-height: 38px;
    }

    .pl-left-img img {
        height: 140px;
    }

    .pl-right-img img {
        height: 449px;
    }

    .tabs-header-style {
        width: 81%;
        margin: -33px auto 0px 30px !important;
    }

    .tabs-style {
        padding: 15px 20px !important;
    }

    .xzoom-thumbs img {
        height: 100px;
        width: 100px;
    }

    .welcome-massage p {
        text-align: left !important;
    }

    .product-box .pb-img img {
        height: 350px;
    }

    .tcb-img img {
        height: 350px;
    }

    .material-scrolltop.reveal i {
        font-size: 30px;
    }

    .material-scrolltop.reveal {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 575px) {
    .tcb-img img {
        height: auto;
    }

    .material-scrolltop.reveal i {
        font-size: 30px;
    }

    .material-scrolltop.reveal {
        width: 45px;
        height: 45px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {
    .cart-table .ct-btn-wrapper {
        display: flex;
        flex-direction: column;
    }

    .error-title {
        font-size: 30px;
        line-height: 40px;
    }

    .material-scrolltop.reveal i {
        font-size: 25px;
    }

    .material-scrolltop.reveal {
        width: 40px;
        height: 40px;
    }

    .cart-table .btn4 {
        font-size: 16px !important;
        padding: 9px 25px;
        text-align: center;
    }

    .cart-table .btn4.pull-left {
        margin-bottom: 10px;
    }

    .box-header {
        font-size: 20px;
    }

    .hero-right-none {
        display: none;
    }

    .hl-text h2 {
        font-size: 46px;
        line-height: 48px;
    }

    .hl-text p {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .hl-text span {
        margin-bottom: 10px;
    }

    .btn1 {
        padding: 12px 25px;
    }

    .hero-right {
        display: block;
    }

    .hero-right {
        height: 343px;
        top: -22px;
    }

    .hr-img img {
        height: 400px;
        margin-top: -36px;
        margin-left: 6px;
    }

    .content-header-box h2 {
        font-size: 16px;
        height: 60px;
        padding-left: 18px;
    }

    .content-header-box p {
        font-size: 16px;
        width: 160px;
    }

    .pr-list-table td,
    th {
        padding: 8px 15px 8px 15px;
    }

    .dbs-right {
        padding-top: 24px;
    }

    .dbsr-content {
        margin: 18px auto;
    }

    .srb-left-img img {
        height: 70px;
        width: 100%;
    }

    .srb-right-text h2 {
        line-height: 28px;
    }

    .cb-img img {
        height: 74px;
        width: 74px;
    }

    .rcb-img img {
        height: 50px;
        width: 50px;
    }

    .rcb-text h3 {
        font-size: 12px !important;
        line-height: 25px !important;
    }

    .rcb-text p {
        margin: 6px 0;
        font-size: 12px !important;
        line-height: 22px;
    }

    .rcb-text h2 {
        font-size: 20px !important;
        line-height: 24px !important;
        margin-bottom: 4px !important;
    }

    .rcb-text a {
        font-size: 16px !important;
        line-height: 24px;
    }

    .sbd-text h2 {
        font-size: 22px;
    }

    .sbd-text p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 9px;
    }

    .quote h3 {
        font-size: 18px !important;
        line-height: 28px !important;
        margin-top: 0px !important;
        margin-bottom: 6px;
    }

    .quote span {
        font-size: 16px;
        line-height: 28px;
    }

    .quote span img {
        height: 28px;
        right: -49%;
    }

    .sbd-command {
        margin-top: 18px;
    }

    .command-box {
        padding: 20px 0;
    }

    .cf-form {
        margin-top: 20px;
    }

    .cf-group input {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .sbd-wrapper .bb-img img {
        height: 300px !important;
    }

    .bb-item-hover {
        top: 80px;
    }

    .pl-left-img img {
        height: 90px;
    }

    .pl-right-img img {
        height: 300px;
    }

    .tabs-header-style {
        width: 90%;
        margin: -33px auto 0px 30px !important;
    }

    .tabs-style {
        padding: 10px 16px !important;
    }

    .tabs-style p {
        line-height: 24px;
    }

    .pr-header-width {
        width: 95%;
    }

    .paid-method-system a img {
        width: 128px;
    }

    .pis-padding {
        padding: 35px 20px 0 20px;
    }

    .pis-invoice {
        padding: 30px 20px;
    }

    .pis-invoice table th {
        padding-bottom: 20px !important;
    }

    .pis-paid-form {
        padding-top: 20px;
    }

    .cs-content {
        padding: 30px;
    }

    .cs-title {
        margin-bottom: 25px;
    }

    .welcome-massage p {
        line-height: 30px;
        text-align: left;
        padding-top: 4px;
        text-align: left;
    }

    .tabs-header-style li a {
        font-size: 16px;
        line-height: 22px;
        padding: 12px 16px !important;
    }

    .xzoom-container img {
        height: 320px;
    }

    .xzoom-thumbs img {
        height: 95px;
        width: 95px;
    }

    .footer-section {
        padding: 160px 0px 40px;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: 10px 16px;
        font-size: 18px;
    }

    .ui-widget-header {
        width: 300px;
    }

    .tab-content p {
        font-size: 16px;
    }

    .tab-content {
        padding: 16px 0px;
    }


}


@media only screen and (max-width: 359px) {
    .xzoom-thumbs img {
        height: 80px;
        width: 80px;
    }

    .xzoom-container img {
        height: 251px;
    }
}